<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isAuthenticated()">
  <a class="navbar-brand" routerLink="/employe/commandes">Employé</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/employe/commande">Commandes</a>
      <a class="nav-item nav-link" routerLink="/employe/livraisons">Livraisons</a>
      <a class="nav-item nav-link" routerLink="/employe/support">Support</a>
        <a class="nav-item nav-link" (click)="logOut()">Déconnexion</a>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
